<body>
	<div class="main">  	
		<input name="opcionRegistro" type="radio" id="chkEspecialista" aria-hidden="true">
		<input name="opcionRegistro" type="radio" id="chk" aria-hidden="true">

		<div class="signup">
			<form>
				<label for="chk" aria-hidden="true">Registrar paciente</label>
				<input type="text" name="txt" placeholder="User name" required="">
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>Sign up</button>
			</form>
		</div>
		
		<div class="login">
			<form>
				<label for="chkEspecialista" aria-hidden="true">Registrar especialista</label>
				<input type="email" name="email" placeholder="Email" required="">
				<input type="password" name="pswd" placeholder="Password" required="">
				<button>Login</button>
			</form>
		</div>
	</div>
</body>